.box{
  font-family: 'Roboto', sans-serif;
  width: 220px;
  height: 291px;
  box-shadow: 8px 10px 14px -8px #565353;
  float: left;
  text-align: center;
  background-color: #f1eeee;
  padding-top: 30px;
  margin: 14px;
  -webkit-transition: all ls ease;
  -moz-transition: all ls ease;
  -o-transition: all ls ease;
  transition: all ls ease;
}

.contenedor{
  padding: 12%;
}

h2{
  font-family: 'Playfair Display', serif;
  color: #4180b7;
}

.box:hover{
  padding-top: 20px;
  color: white;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: #8C8F98;
  -webkit-transition: all .0.5s ease-in-out;
}

span{
  font-size: 40px;
  color: dodgerblue;
}

p{
  text-align: justify;
  color: #5caaad;
  margin: 14px;
}
